{% comment %}
  This could also be built into theme section, but scaling this to all pages might be better to use an include ;)
{% endcomment %}

<div class="icon-section">
  <div class="icon-section__icon">
    {% include 'icon-truck' %}
    <h4>FREE SHIPPING ON ALL ORDERS</h4>
  </div>
  <div class="icon-section__icon">
    {% include 'icon-returns' %}
    <h4>FREE RETURNS ON ALL ORDERS</h4>
  </div>
  <div class="icon-section__icon">
    {% include 'icon-checkout' %}
    <h4>SAFE & SECURE CHECKOUT</h4>
  </div>
</div>
